<div class="row footer">
	
	<div class="col-md-4">
		<h1 class="text-center" style="background-color: green;">Refrence</h1>
		<p class="text-center" style="background-color: black;"><a href="http://www.w3school.com">Bootstrap</a></p>
		<p class="text-center" style="background-color: black;"><a href="http://www.w3school.com">Html</a></p>
		<p class="text-center" style="background-color: black;"><a href="http://www.w3school.com">css</a></p>
		<p class="text-center" style="background-color: black;"><a href="http://www.w3school.com">js</a></p>
	</div>

	<div class="col-md-4">
		
		<h1 class="text-center" style="background-color: yellow;">Links</h1>
		<p class="text-center" style="background-color: yellow;">1.Boot@a.com</p>
		<p class="text-center" style="background-color: yellow;">2.Html@b.com</p>
		<p class="text-center" style="background-color: yellow;">3.css@c.com</p>
		<p class="text-center" style="background-color: yellow;">4.js@d.com</p>
	</div>

	<div class="col-md-4">

		<h1 class="text-center" style="background-color: orange;">Contact</h1>
		<p class="text-center" style="background-color: orange;"><i class="fab fa-facebook-square"></i>Facebook</p>
		<p class="text-center" style="background-color: orange;"><i class="fab fa-twitter"></i>Twitter</p>
		<p class="text-center" style="background-color: orange;"><i class="fas fa-envelope-square"></i>E-mail</p>
		<p class="text-center" style="background-color: orange;"><i class="fab fa-skype"></i>Skype</p>
	</div>


</div>